In [67]:
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [68]:
df = pd.read_excel("Pengamatan.ods", sheet_name="pengamatan")
df.sample(5)

      tanggal  p  u  diameter_1  diameter_2  diameter_3  diameter_4
23 2025-08-08  E  4         8.5         8.6        10.0        10.2
22 2025-08-08  E  3        10.4        10.0        10.3         9.0
15 2025-08-08  D  1        10.3        11.3        12.7        10.2
5  2025-08-08  B  1        13.2        11.5        13.7        12.3
2  2025-08-08  A  3        10.9        10.0         9.4        10.8

In [69]:
df["u"] = df["u"].astype("Int8")
df["diameter_mean"] = df[
        ["diameter_1", "diameter_2", "diameter_3", "diameter_4"]
    ].mean(axis=1)
df.sample(5)

,tanggal,p,u,diameter_1,diameter_2,diameter_3,diameter_4,diameter_mean
47,2025-08-09,B,1,16.1,14.8,16.2,17.0,16.025
16,2025-08-08,D,2,13.4,12.2,11.0,10.0,11.650
21,2025-08-08,E,2,9.6,10.7,10.9,9.9,10.275
44,2025-08-09,D,1,24.7,23.5,21.7,24.7,23.650
39,2025-08-09,E,1,24.1,24.8,25.3,25.6,24.950

In [70]:
df.loc[df["p"] == "E"]

,tanggal,p,u,diameter_1,diameter_2,diameter_3,diameter_4,diameter_mean
20,2025-08-08,E,1,10.2,11.3,12.3,10.6,11.100
21,2025-08-08,E,2,9.6,10.7,10.9,9.9,10.275
22,2025-08-08,E,3,10.4,10.0,10.3,9.0,9.925
23,2025-08-08,E,4,8.5,8.6,10.0,10.2,9.325
24,2025-08-08,E,5,10.3,10.6,10.4,11.1,10.600
30,2025-08-09,E,4,26.2,25.2,25.5,26.7,25.900
39,2025-08-09,E,1,24.1,24.8,25.3,25.6,24.950
40,2025-08-09,E,5,21.7,22.3,21.6,19.4,21.250
55,2025-08-09,E,3,24.0,24.1,24.4,24.3,24.200
59,2025-08-09,E,2,10.0,11.4,12.2,10.5,11.025